/incremental_db
/greybox_tmp
/db
/board
/timing


/msim_transcript
PLLJ_PLLSPE_INFO.txt
*.csv
*.bak
*.vcd

*.sof
*.pof
*.rbf
*.hexout

*.summary
*.qarlog
*.rpt
*.done
*.smsg
*.pin
*.ibis
*.stp
*.jdi
*.pin
*.cdf
*.sld
*.json
*.wlf
*.mti
*.mpf
*.tis_db_list.ddb
*.vho
*.svo
*.sdo
*.sft
*.xrf
*.vstf
*.wlf
*.qws

_*